.add-li-button {
    padding: 10px;
    background-color: green;
}

.add-field {
    padding: 10px;
    border: 1px solid black;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-nav {
    list-style-type: none;
    display: flex;
    position: relative;
    margin: 10px;
    padding: 0;
}

.item-nav-del {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: red;
    cursor: pointer;
}


.link-nav {
    text-decoration: none;
    margin: 0;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
}
